<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexus.dao.mapper.FormdataMapper">
  <resultMap id="BaseResultMap" type="com.nexus.pojo.Formdata">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="PROC_DEF_ID_" jdbcType="VARCHAR" property="procDefId" />
    <result column="PROC_INST_ID_" jdbcType="VARCHAR" property="procInstId" />
    <result column="FORM_KEY_" jdbcType="VARCHAR" property="formKey" />
    <result column="Control_ID_" jdbcType="VARCHAR" property="controlId" />
    <result column="Control_VALUE_" jdbcType="VARCHAR" property="controlValue" />
  </resultMap>
</mapper>